.box {
  display: flex;
  flex-direction: column;
  gap: 7px;
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    .spinner {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
